@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

html {
    background-color: #e0e5ec;
}

body {
    display: flex;
    align-items: center;
    
    justify-content: center;
    gap: 5%;
}

.header {
    /* background-color: blue; */
    text-align: center;
}

.mid {
    /* background-color: brown; */
    margin: 10px;
}

h1 {
    justify-content: center;
    font-family: 'Allura', cursive;
    font-size: 70px;
    font-weight: normal;
}

.setting {
    /* background-color: cornflowerblue; */
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#grid-collection {
    display: grid;
    border: 1px solid black;
    width: 500px;
    height: 500px;
}

.generated {
    justify-content: stretch;
}

/**************** setting ****************/

input[type='color'] {
    -webkit-appearance: none;
    border: none;
    width: 50px;
    height: 50px;
}

button {
    background-color: #e0e5ec;
    color: #484848;
    border-radius: 3px;
    height: 30px;
    width: 100px;
    border: none;
    box-shadow: 2px 4px 5px 0px #b2b2b299,
     0px -1px 7px 2px #f4f4f4;  
     transition: .5s;
}

div .buttonActive {
    background-color: #484848;
    color: #e0e5ec;
}

button:hover {
    box-shadow: 5px 3px 13px 2px #b2b2b299,
     0px 0px 4px 0px #f4f4f4; 
    transition: .3s;
    
}

input[type='range']:hover {
    box-shadow: 5px 3px 13px 2px #b2b2b299,
     0px 0px 4px 0px #f4f4f4; 
    transition: .3s;
}

input[type='range'] {
    appearance: none;
    background-color: #e0e5ec;
    border-radius: 25px;
    box-shadow: 2px 4px 5px 0px #b2b2b299,
     0px -1px 7px 2px #f4f4f4;
     transition: .5s;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 25px;
  background: #484848;
}


@media only screen and (max-width: 900px) {
    body {
        flex-direction: column;
    }
}
@media only screen and (min-width: 900px) {
    .header {
        width: 150px;
    }
    body {
        height: 100vh;
    }
    
}